<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <hr>
        <h1>
            {{ page_name }}
        </h1>
        <br>
        <nav>
            <a href="#about">About Me</a> |
            <a href="#messages">Current Messages</a> |
            <a href="#contact">Contact Me</a>
        </nav>
        <br>
    </header>
    <section id="about">
        <h2>
            About Me
        </h2>
        <p>I enjoy television shows and movies from the 1970s and 1980s. 
            My favorite movies of the 1970s are 'The Warriors' and 'Saturday Night Fever.'</p>
        <p>My favorite movie from the 1980s is 'This is Spinal Tap.' 
            I also enjoy 'The Princess Bride' even though it is 'inconceivable' to most people.</p>
        <br>
    </section>
    <section id="messages">
        <h2>
            Current Messages
        </h2>
    </section>
    
    {% for message in messages %}
        <div>
            <h3>
                {{ message['user'] }}
            </h3>
            <p>
                {{ message['content'] }}
            </p>
        </div>
        <br>
        <hr>
    {% endfor %}
    <section id="contact">
        <br>
        <h2>Contact Me</h2>
        <form>
            <p>Subscribe to my newsletter:</p>
            <input type="email" placeholder="Enter your email">
            <button type="submit">Join List</button>
        </form>
    </section>
    <footer>
        <p>&copy; Chris Reutz' Celebrity Enterprises</p>
    </footer>
</body>